# Executables
bin/
/haproxytui
/haproxyTUI
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage outputs
*.out
*.test
coverage.txt

# Local Configuration & Secrets
*.conf
.vault-token
.env

# IDE and System Files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
